<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Article:</b>
  <%= @article.article %>
</p>

<% if can? :update, @article %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>