/* This CSS sets the costum styles for the DSC-original-Theme components. */

/* ========= DSC-Original Custom Styles (Welcome Page Flash Area) ========= HM 2008-12-05 ========= */

#vp_home {
	width: 100%;
	height: 183px;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-image: url(../images/dsc-home/dsc-home_flash_stretch.png);
}

/* ========= DSC-Original Custom Styles (Welcome Page Service Menu) ========= HM 2008-12-05 ========= */

#service-nav {
	padding: 5px 59px 5px 45px;
	width: auto;
	height: 36px;
	background-color: #BFBFBF;
}
#service-nav td a {
	display: block;
	border: 1px solid #FFFFFF;
	background-color: #E5E5E5;
	text-align: center;
	width: auto;
	height: 34px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#service-nav td a:hover {
	text-decoration: none;
	background-color: #F2F2F2;
}
#service-nav td div {
	visibility: hidden;
}

#service-nav a.tunnel_design {
	background-image: url(../images/dsc-nav-service/tunnel_design_off.png);
}
#service-nav td a.tunnel_design:hover {
	background-image: url(../images/dsc-nav-service/tunnel_design_on.png);
}

#service-nav a.geotechnical {
	background-image: url(../images/dsc-nav-service/geotechnical_off.png);
}
#service-nav td a.geotechnical:hover {
	background-image: url(../images/dsc-nav-service/geotechnical_on.png);
}

#service-nav a.waterproofing {
	background-image: url(../images/dsc-nav-service/waterproofing_off.png);
}
#service-nav td a.waterproofing:hover {
	background-image: url(../images/dsc-nav-service/waterproofing_on.png);
}

#service-nav a.site_supervision {
	background-image: url(../images/dsc-nav-service/site_supervision_off.png);
}
#service-nav td a.site_supervision:hover {
	background-image: url(../images/dsc-nav-service/site_supervision_on.png);
}

#service-nav td a.documentation:hover {
	background-image: url(../images/dsc-nav-service/documentation_on.png);
}
#service-nav a.documentation {
	background-image: url(../images/dsc-nav-service/documentation_off.png);
}

#service-nav a.inspection {
	background-image: url(../images/dsc-nav-service/inspection_off.png);
}
#service-nav td a.inspection:hover {
	background-image: url(../images/dsc-nav-service/inspection_on.png);
}

#service-nav a.tunnel_widening {
	background-image: url(../images/dsc-nav-service/tunnel_widening_off.png);
}
#service-nav td a.tunnel_widening:hover {
	background-image: url(../images/dsc-nav-service/tunnel_widening_on.png);
}

/* ========= DSC-Original Custom Styles (Typical Page-Top Background) ========= HM 2008-12-05 ========= */

#page-top {
	position:absolute;
	left:0px;
	top:85px;
	background: url(../images/dsc-page-top/page-top_bg.png);
	margin: 0px;
	width: 100%;
}


/* ========= DSC-Original Custom Styles (Sevices Page - List) ========= HM 2008-12-05 ========= */

#services {
}

#services h4 {
	margin: 7px 0px 0px 0px;
	height: 20px;
	background-color: #8DA5BA;
	
	font-size:1.1em;
	padding-top:2px;
	background-image:url(../images/dsc-services/title-arrow.png);
	background-position: 15px 5px;
	background-repeat: no-repeat;
}

#services h4  a {

	color:#FFF;
	margin: 10px;
}

#services img {
	margin: -5px 20px 15px -5px;
}

#services p {
 
	min-height:43px;
	background-color: #D9D9D9;
	
}

/*  Footer and Bottom Navigation Added By HM*/


#list-01{
	width: 100%;
	float: right;
	font-size:1.0em;
	font-weight: bold;
	min-height:300px;
	color: #BC7712;
	display: inline;

}

#list-01 li {
	width: 100%;
	float: right;
	list-style-image: url(../images/boxed_arrow_right.png);
	list-style-position:inside;
	padding-bottom: 0px;
}

#list-01 .head{
	background-color: #fff;
	background: url(../images/dsc-misc/th-background.png) repeat-x top;
	padding: 2px;
}

#list-01 .entry{
	font-size: medium;
	
}


#list-01 td{
	background-color: #fff;
	background: url(../images/dsc-misc/background-01.png) no-repeat top;
	padding: 50px;
	border: 1px solid #396080;
}


#list-01 a {
	font-size:2.0em;

}


/* ---------- Main navigation ---Modified for DSC-Original Theme------- */

#leftnav {
	position:absolute;
	left:0px;
	top:100px;
	/* min-height:500px; */
	width: 15%;
	vertical-align: top;
	background-color: #EDEDED;
}


#leftnav a {
	display: block;
	border-top: 0px solid #FFFFFF;
	border-bottom: 1px solid #C1C1C1;
	padding: 5px 10px 3px 35px;
	height: auto;
	background-color: #EDEDED;
	font-size: 10px;
	font-weight: bold;
	color: #396080;
	text-decoration: none;
}

#leftnav a:hover, #leftnav a.down {
	background-image: url("../images/dsc-leftnav/leftnav_selected_bg.png");
	background-position: 0px 0px;
	background-repeat: repeat-y;
}

	
/* --End---- Main navigation ---Modified for DSC-Original Theme------- */

#admin {
	position:relative;
	left:0px;
	top:10px;
	min-height:500px;
	width: 100%;
	vertical-align: top;
}


div.medium
  {
  margin:8px;
  border-top: 1px solid grey;
  border-bottom: 2px solid grey;
  border-left: 1px solid grey;
  border-right: 2px solid grey; 
   height:auto;
  width:auto;
  float:left;
  text-align:center;
  background-color:white;
  }
div.medium img
  {
 
  display:inline;
  margin:3px; 
  border-top: 2px solid grey;
  border-bottom: 1px solid grey;
  border-left: 2px solid grey;
  border-right: 1px solid grey; 
  height:125px; 
  }
div.medium:hover
  {
  background:#F2F2F2;
  }
div.desc
  {
  text-align:left;
  font-weight:normal;
  width:120px;
  margin:2px;
  height:20px;
  }
  
  
  div.medium-list
  {
  margin:8px;
  border-top: 1px solid grey;
  border-bottom: 2px solid grey;
  border-left: 1px solid grey;
  border-right: 2px solid grey; 
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  background-color:white;
  }
div.medium-list img
  {
  display:inline;
  margin:3px; 
  border-top: 2px solid grey;
  border-bottom: 1px solid grey;
  border-left: 2px solid grey;
  border-right: 1px solid grey; 
  width:75px; 
  }
  
td.desc-list
  {
  text-align:left;
  font-weight:normal;
  width:auto;
  margin:2px;
  }  
  
td.img-list
  {
  width: auto;
  }  

  td.symbols
  {
  vertical-align: top;
  
  width:60px;
  
  }  