
body {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	background-color: gray;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	
	
}

body, html {
	scrollbar-3dLight-Color: #9FB7CA;	
	scrollbar-Arrow-Color: #CA9703;
	scrollbar-Base-Color: #7993A9;
	scrollbar-DarkShadow-Color: #193044;
	scrollbar-Face-Color: #8FAAC2;
	scrollbar-Highlight-Color: #D8E7F4;
	scrollbar-Shadow-Color: #537B98;
	scrollbar-Track-Color: #E5E5E5;
}

a {
	color: #BC7712;
	text-decoration: none;
	font-weight: bold;

}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}
	

div.wrapper {
	position:absolute;
	left:20%;
	top:149px;
	padding:20px;
	background-color: #F2F2F2;
	border-left: 1px solid #9FB7CA;
	width:77%;
}

#footer {
	position:relative;
	left:0px;
	top:500px;
	padding:20px;
	background-color: #F2F2F2;
	border-bottom: 3px solid #9FB7CA;
	width:100%;
	height:60px;
}
.medium  {
	position:relative;
	padding:15px;
	background-color: #F2F2F2;	
	width: 175px;
	height:175px;
	margin-left:auto;
	margin-right:auto;
	float: left; 
}




fieldset {
	margin: 5px;
	padding: 3px;
	border: grat;
}

h1 {
	margin: 3px 0px;
	font-size: 14px;
	color: #396080;
}

h1.title {
	font-size: 14px;
	margin: 16px 0px 20px 0px;
}

h2 {
	margin: 2px 0px;
	font-size: 12px;
	color: #396080;
}

input.btn { 
	color:#050; 
	font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	background-color:#fed; 
	border:1px solid; 
	border-color: #696 #363 #363 #696; 
} 

.input-small input{
	width:50px;
}

.input-date{
	width:50px;
}

.input-long input{
	width:95%;
}

textarea{
	width: 99%;
}

p{
	margin: 0px 0px 10px 0px;
	line-height: 130%;
}

select {
	width:100%;
	size: 20;
}

table{
	width: 100%;	
}


}

table.form-view tr , td{
	padding: 5px 10px 5px 10px;
}	

label{
	font-weight: bold;
	color: #396080;
	font-size: 11px;
}	
	
tr.odd td{
 background-color:#fff;
}

tr.even td{
 background-color: #ccc; 
}

.list{
	border-collapse: collapse;

}

.list tr{
	border-bottom: 1px solid #8DA5BA;
	vertical-align:middle;

}

.list td, tr{
	padding: 0px 8px 0px 8px;	
} 

.list th{
	font-weight: bold;
	text-align:left;
	font-size: 11px;
	border-bottom: 1px solid gray;
	background-color: #8DA5BA;
	color: white;
}

table.form  td , tr{
	
	margin:5px;
	padding:5px;
	background-color: #ccc;
	border-bottom: 1px solid gray;
	vertical-align: top;
}







/* #list-icons div{
	visibility: hidden;

}

#list-icons table{
}

#list-icons table{
	border-collapse: collapse;
	margin:0px;
	padding:0px;
	border: 0px;
}

#list-icons td{
	margin:0px;
	padding:0px;
	border: 1px solid #E2E2E2;
	width: auto;
	}

#list-icons td, a {
	display: block;
	margin:0px;
	padding:0px;
	background-color: #E5E5E5;
	text-align: center;
	width: 4px;
	height: 15px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
 */
/* #list-icons td a:hover, #top-nav td a:hover {
	text-decoration: none;
} */

/* #list-icons td a.icon-view {
	background-image: url("/images/list-icons/icon-view-off.png");
	background-color: #F2F2F2;
}

#list-icons td a.icon-view:hover {
	background-image: url("/images/list-icons/icon-view-on.png");
	background-color: #E5E5E5;
}

#list-icons td a.icon-edit {
	background-image: url("/images/list-icons/icon-edit-off.png");
	background-color: #F2F2F2;
}

#list-icons td a.icon-edit:hover {
	background-image: url("/images/list-icons/icon-edit-on.png");
	background-color: #E5E5E5;
}

#list-icons td a.icon-delete {
	background-image: url("/images/list-icons/icon-delete-off.png");
	background-color: #F2F2F2;
}

#list-icons td a.icon-delete:hover {
	background-image: url("/images/list-icons/icon-delete-on.png");
	background-color: #E5E5E5;
}

#list-icons td a.icon-publish {
	background-image: url("/images/icon-publish-off.png");
	background-color: #F2F2F2;
}

#list-icons td a.icon-publish:hover {
	background-image: url("/images/icon-publish-on.png");
	background-color: #E5E5E5;
}
 */

/* End  ------ This is the list-icon styles code -----------------------*/	


div.pagination {
padding: 3px;
margin: 3px;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #AAAADD;

text-decoration: none; /* no underline */
color: #000099;
}
div.pagination a:hover, div.pagination a:active {
border: 1px solid #000099;

color: #000;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #000099;

font-weight: bold;
background-color: #000099;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #EEE;

color: #DDD;
}




/* Start  ------ ############# Testing Area ###########################*/	



/* Start  ------ ############# Testing Area ###########################*/	