<link href="./stylesheets/header.css" rel="stylesheet" type="text/css">
<link href="./stylesheets/style.css" rel="stylesheet" type="text/css">


<div id="header"><img src='/images/logo.png' />
  <form action="/search" name="search" method="">
    <a href="#>HOME</a> | <a href="http://dr-sauer.com/site">SITE INDEX</a> | <a href="#">LOG IN</a> |
    <label for="keyword">SEARCH
      <input id="keyword" name="keyword" class="text" type="text">
    </label>
    <input src="/images/submit_arrow.png" type="image">
  </form>
</div>
<div id="top-nav">
	<ul>
			<li class=""><label for="keyword"><a href="http://dr-sauer.com"> <span>HOME</span></a></label></li>
			 <li class=""><label for="keyword"><a href="/projects"><span>PROJECTS</span></a></label></li>
			 <li class=""><label for="keyword"><a href="/media"><span>MEDIA</span></a></label></li>
			 <li class=""><label for="keyword"><a href="#"><span>RISK</span></a></label></li>
			 
	</ul>
</div>
<div  class="wrapper">

<div class="print-content"><%= image_tag('favicon.ico', :class => 'print-content') %>
<span style: "font-size=20px">Dr.G.Sauer Corporation</span></div>

<div class="top">
	 <h3>Dr. Sauer Group Project, Media, Risk Knowledge Base</h3>
	 <p><BR>This database contains selected projects, media and risks related to tunneling.<BR>Each section enables users to research, edit and add project information. <BR>-- <BR>Please send comments to <A href="mailto:hmohamed@dr-sauer.com">hmohamed@dr-sauer.com</A></p>

    </div>


<div class="main">
	 <table class="search_table" cellpadding="0" cellspacing="10">
	   <tbody>
		<tr>
		  <td class="td_search">
		    <div class="search_area">
			 <h1>Projects</h1>

			 <li><a href="/projects"> <span>Projects</span></a></label></li>
			 <br/>
			 <div class="search_copy">
				This section of the database is used for researching projects. <BR><BR>Searches can be performed using multiple categories and search operators. For advanced searching, click the small arrow next to "Full Project Search".<BR><BR>From the list of search results, the projects can be clicked to open the detail view in a pop-up window. <BR><BR>The list of results and the detail view can be printed and edited.<BR><BR>The button "Show related media" and "Show related risks" will take you to the media / risk search, and show the set of images / risks associated with the respective projects. <BR><BR>Note: To add images to the summary view, the CMS is used; please contact <A href="mailto:rvaclavek@dr-sauer.com">rvaclavek@dr-sauer.com</A> for details.
			 </div>

		    </div>
		  </td>
		  <td class="td_search">
		    <div class="search_area">
			 <h1>Media</h1>
			  <li><a href="/media"> <span>Media</span></a></label></li>

			 <br/>
			 <div class="search_copy">
				This section contains images, videos and literature. <BR><BR>Searches can be performed via project name, keywords, opject type, construction method and geology. <BR><BR>In addition, the Tree below the search boxes enables the users to further narrow down the search results step by step, i.e. from "All" (all images) to "Equipment" (all images showing equipment) to "Excavators" (images showing excavators).<BR><BR>-- Note: This is currently being revised and may be temporarily unavailable -- <BR><BR>If the user arrived here from the Project or Risk Section using the button "Show Related Media", only these are shown.
			 </div>
		    </div>
		  </td>
		  <td class="td_search">

		    <div class="search_area">
			 <h1>Settings</h1>
			  <li><a href="/countries"> <span>Countries</span></a></label></li>
			  <li><a href="/states"> <span>States</span></a></label></li>
			  <li><a href="/services"> <span>Services</span></a></label></li>
			  <li><a href="/geologies"> <span>Geologies</span></a></label></li>
			  <li><a href="/categories"> <span>Categories</span></a></label></li>
			 <br/>
			 <div class="search_copy">
				This section contains links to modify data in the backend of the database.
			 </div>

		    </div>
		  </td>
		</tr>
	   </tbody>
	 </table>
    </div>




 <td>  
      <label for="project_category">Project Category</label><br>
      <ul>
	  <% for category in @project.categories.find(:all) %>
	    <li>
	      <div>
	        <%= category.name %>
	      </div>
	    </li>
	  <% end %>
      </ul>
    </td>
	
	
	
	



<div class="print-content"><h2>Copyright Dr.G.Sauer Corporstion</h2></div> 

</div>
</body>
</html>







<!-- <div id="top-nav">
 <ul>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/company"><span>COMPANY</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/19">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/company/company_history">Company
                History</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/company/office_locations">Office
                Locations</a></label>
              </li>
              <li>
                <label for="keyword"><a href="/web/guest/key_staff">Key
                Staff</a></label>
              </li>
              <li>
                <label for="keyword"><a href="/web/guest/23">Owners/
                Agencies</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/company/clients">Clients</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/services"><span>SERVICES</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/overview">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/tunnel_design_and_specialties">Tunnel
                Design &amp; Specialties</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/geotechnical_engineering">Geotechnical
                Engineering</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/waterproofing_and_water_control">Waterproofing
                &amp; Water Control</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/site_supervision_and_cm_qa_qc">Site
                Supervision &amp; CM, QA/QC</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/documentation_and_monitoring">Documentation
                &amp; Monitoring</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/inspection_and_maintainance">Inspection
                &amp; Maintainance</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/services/rehabilitation_and_tunnel_widening">Rehabilitation
                &amp; Tunnel Widening</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/projects"><span>PROJECTS</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/projects/overview">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/projects/featured_projects">Featured
                Projects</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/projects/advanced_search">Advanced
                Search</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/news"><span>NEWS</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/29">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href="/web/guest/30">Industry
                News</a></label>
              </li>
              <li>
                <label for="keyword"><a href="/web/guest/31">Events</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/technical_info"><span>TECHNICAL INFO</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/overview">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/natm">NATM</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/tunnel_design">Tunnel
                Design</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/special_construction_methods">Special
                Construction Methods</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/geotechnical_engineering">Geotechnical
                Engineering</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/monitoring_and_documentation">Monitoring
                &amp; Documentation</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/tunnel_inspection">Tunnel
                Inspection</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/tunnel_widening-and_rehabilitation">Tunnel
                Widening &amp; Rehabilitation</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/technical_info/waterproofing-and-water-control">Waterproofing
                &amp; Water Control</a></label>
              </li>
              <li>
                <label for="keyword"><a href="/web/guest/43">Project Management
                &amp; Contracting Strategies</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/resources"><span>RESOURCES</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/overview1">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/resources/presentations_and_lectures">Presentations
                and Lectures</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/resources/publications">Publications</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/resources/links">Links</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/faqs"><span>FAQS</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/28">Overview</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href=
            "/web/guest/careers"><span>CAREERS</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/careers/overview">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href=
                "/web/guest/careers/internships">Internships</a></label>
              </li>
            </ul>
          </li>
          <li class="">
            <label for="keyword"><a href="/web/guest/contact_us"><span>CONTACT
            US</span></a></label>
            <ul class="child-menu">
              <li>
                <label for="keyword"><a href=
                "/web/guest/25">Overview</a></label>
              </li>
              <li>
                <label for="keyword"><a href="/web/guest/27">Office
                Locations</a></label>
              </li>
            </ul>
          </li>
        </ul>

</div> -->