<div>
    <ul>
        <li>
        <a href="http://dr-sauer.com"><span>HOME</span></a>
        </label>
    </li>
    <li>
    <a href="/projects"><span>PROJECTS</span></a>
    </label>
</li>
<li>
<a href="/media"><span>MEDIA</span></a>
</label>
</li>
<li>
<a href="#"><span>RISK</span></a>
</label>
</li>
</ul>
</div>
